<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/construct_shop?serverTimezone=UTC
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">alcatel1992</property>
        <property name="show_sql">true</property>

        <mapping class="persistence.entities.Department"/>
        <mapping class="persistence.entities.Deposit"/>
        <mapping class="persistence.entities.Employee"/>
        <mapping class="persistence.entities.UserRegistration"/>
        <mapping class="persistence.entities.product.Cement"/>
        <mapping class="persistence.entities.product.Paint"/>
        <mapping class="persistence.entities.product.Drill"/>


    </session-factory>

</hibernate-configuration>